.wrapper{
   transition: all 0.3s;
   background: #cacaca1a;
}
.right {
   background: rgba(56, 253, 56, 0.151);
}
.wrong{
   background: rgba(228, 83, 64, 0.247);
}

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 60px;
}
.header__container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
}
.header__score{
   background: #2485d456;
   padding: 10px 15px;
   border: 1px solid #000;
   border-radius: 10px;
   font-size: 18px;
   line-height: 16px;
   font-weight: 500;
   
}
.header__chenge {
 
}
.chenge__select {
   font-size: 18px;
   background: #2485d456;
   padding: 10px 40px;
   border: 1px solid #000;
   border-radius: 10px;
}
.chenge__optiin {
   background: #e9e9e91a;
}
/* --------------------------------------------------------------------- */
.page-main__english {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 70vh;
}
.english__container {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.english__word-eng {
   min-width: 240px;
   padding: 30px 30px;
   border: 1px solid #000;
   border-radius: 10px;
   text-align: center;
   font-size: 36px;
   font-family: sans-serif;
   font-weight: 500;
   background: #43e95075;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
}

.english__translate::first-letter {
   text-transform: uppercase;
}

.english__wrapper-button {
   padding: 10px 0;
}

.english__translate {
   background: #cfda4171;
   padding: 15px 30px;
   border-radius: 10px;
   border: 1px solid  rgba(66, 68, 90, 1);;
   font-size: 16px;
   line-height: 18px;
   transform: translateX(2px);
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
   transition: all 0.4s;
}

.english__translate::first-letter {
   text-transform: uppercase;
}

.english__translate:active{
   transform: translateY(5px);
   box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
} 

/* ========================================================================== */

@media (min-width:768.98px){
   .english__wrapper-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
   } 
}
@media (any-hover: hover){
   .english__translate:hover {
      transform: translateY(5px);
      box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
   }
}
@media (max-width: 768.98px){
   .english__translate {
      padding: 15px 15px;
      font-size: 14px;
   }
}
@media (max-width:768.98px){
   .english__wrapper-button {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 15px;
      justify-content: center;
   }   
}
@media (max-width:768.98px){
   .english__word-eng{
      font-size: 26px;
   }
}
