.wrapper{
   transition: all 0.3s;
   background: #cacaca1a;
}
.right {
   background: hsla(120, 98%, 61%, 0.4);
}
.wrong{
   background: rgba(255, 44, 16, 0.4);
}

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 80px;
}
.header__container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
}
.header__score{
   display: none; 
}
.header__score.is-active{
   display: block;
   background: #2485d456;
   padding: 10px 15px;
   border: 1px solid #000;
   border-radius: 10px;
   font-size: 18px;
   line-height: 16px;
   font-weight: 500;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
}
.chenge__select {
   font-size: 18px;
   background: #2485d456;
   padding: 10px 40px;
   border: 1px solid #000;
   border-radius: 10px;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
}
.chenge__optiin {
   background: #e9e9e91a;
}
/* --------------------------------------------------------------------- */
.page-main__learn {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 70vh;
}
.learn__container {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.tab__word-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 15px;
   min-width: 240px;
   padding: 30px 30px;
   border: 1px solid #000;
   border-radius: 10px;
   text-align: center;

   background: #43e95075;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
}
.tab__word{
   font-size: 36px;
   font-family: sans-serif;
   font-weight: 500;
  
}
.tab__word-subtitle{
   font-size: 22px;
   font-style: italic;
   font-family: sans-serif;
   font-weight: 500;
}

.tab__word::first-letter {
   text-transform: uppercase;
}

.tab__wrapper-button {
   padding: 10px 0;
}

.tab__translate {
   background: #cfda4171;
   padding: 15px 30px;
   border-radius: 10px;
   border: 1px solid  rgba(66, 68, 90, 1);
   font-size: 16px;
   line-height: 18px;
   transform: translateX(2px);
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
   transition: all 0.4s;
   cursor: pointer;
}

.tab__translate::first-letter {
   text-transform: uppercase;
}

.tab__translate:active{
   transform: translateY(5px);
   box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
   cursor: pointer;
} 
.tab__title-button{
   padding: 15px 25px;
   border-radius: 10px;
   border: 1px solid #000;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
   transition: all 0.3s;
}
.tab__title-button.is-active{
   background: #7652da5b;
}
.tab__navigation{
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 15px;
   margin-bottom: 30px;
}
.tab__body{
   display: none;
}
.tab__body.is-active{
   display: block;
}
.tab__body-wrapper{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
/* ========================================================================== */

@media (min-width:768.98px){
   .tab__wrapper-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
   } 
}
@media (any-hover: hover){
   .tab__translate:hover {
      transform: translateY(5px);
      box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
   }
}
@media (max-width: 768.98px){
   .tab__translate {
      padding: 15px 15px;
      font-size: 14px;
   }
}
@media (max-width:768.98px){
   .tab__wrapper-button {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 15px;
      justify-content: center;
   }   
}
@media (max-width:768.98px){
   .tab__word-eng{
      font-size: 26px;
   }
}
@media (max-width:768.98px){
   .tab__word-subtitle{
      font-size: 18px;
   }
}
@media (max-width: 768.98px){
   .header__score{
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
   } 
}
