.page-main__english {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100%;
  
}
.english__container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 45px;
   max-width: 900px;
   padding-left: 15px;
   padding-right: 15px;
   overflow: hidden;
}
.english__word-eng {
   min-width: 240px;
   padding: 30px 30px;
   border: 1px solid #000;
   border-radius: 10px;
   text-align: center;
   font-size: 36px;
   font-family: sans-serif;
   font-weight: 500;
   background: #43e95075;
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
}

.english__wrapper-button {
   padding: 10px 0;
}

.english__translate {
   background: #cfda4171;
   padding: 15px 40px;
   border-radius: 10px;
   border: 1px solid  rgba(66, 68, 90, 1);;
   font-size: 16px;
   line-height: 18px;
   transform: translateX(2px);
   box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 1);
   transition: all 0.4s;
   cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Убирает подсветку при нажатии */
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none;
}
.english__translate:active{
   transform: translateY(5px);
   box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
}

/* ========================================================================== */

@media (any-hover: hover){
   .english__translate:hover {
      transform: translateY(5px);
      box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
   }
}
@media (max-width: 768.98px){
   .english__translate {
      padding: 10px 15px;
      font-size: 14px;
   }
}
@media (max-width:768.98px){
   .english__wrapper-button {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      gap: 15px;
      justify-content: center;
   }   
}
@media (max-width:768.98px){
   .english__word-eng{
      font-size: 26px;
   }
}
@media (min-width:768.98px){
   .english__wrapper-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
   } 
}